@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    font-family: var(--font-sans);
}

::view-transition-old(root) {
    animation-delay: .8s;
}

::view-transition-new(root) {
    animation: theme-toggle-circle .8s;
}

@keyframes theme-toggle-circle {
    from { clip-path: circle(0% at 100% 0%) }
    to { clip-path: circle(130% at 50% 0%) }
}

