@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer utilities {
    .underline-hover {
        @apply relative cursor-pointer text-stone-800;
    }

    .dark .underline-hover {
        @apply text-stone-50;
    }

    .underline-hover::after {
        content: "";
        @apply absolute left-0 bottom-[-2px] h-[2px] w-0 bg-stone-800 transition-[width];
    }

    .dark .underline-hover::after {
        @apply bg-stone-50;
    }

    .underline-hover:hover::after {
        @apply w-full;
    }
}


:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    font-family: var(--font-sans);
}

::view-transition-old(root) {
    animation-delay: .8s;
}

::view-transition-new(root) {
    animation: theme-toggle-circle .8s;
}

@keyframes theme-toggle-circle {
    from { clip-path: circle(0% at 100% 0%) }
    to { clip-path: circle(100% at 50% 0%) }
}

